# --- Cloudflare ---
cloudflare_api_token = "votre_token_cloudflare_ici"
cloudflare_zone_id   = "votre_zone_id_cloudflare_ici"
# domain_name        = "themlaw.dev"

# --- API OVH ---
OVH_ENDPOINT           = "ovh-eu"
OVH_APPLICATION_KEY    = "votre_ovh_application_key"
OVH_APPLICATION_SECRET = "votre_ovh_application_secret"
OVH_CONSUMER_KEY       = "votre_ovh_consumer_key"

# --- OpenStack / OVH Public Cloud ---
OPENSTACK_TENANT_NAME = "your_openstack_tenant_name"
OPENSTACK_USER_NAME   = "your_openstack_username"
OPENSTACK_REGION      = "GRA9"
OPEN_STACK_PASSWORD   = "votre_mot_de_passe_openstack_ici"
OPEN_STACK_IMAGE_NAME = "Debian 12"
OPEN_STACK_FLAVOR_NAME= "d2-4"

# --- Paramètres de l'Atelier (Optionnel) ---
number_vm=6
vm_user_number=2 #Nombre d'utilisateurs par VM